@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body,
html {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: "Segoe UI" !important;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

.header-mob {
  z-index: 100;
  top: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 15px;
  background-color: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2); }

.ham {
  width: min-content;
  margin-top: 15px; }

.mob-menu {
  position: absolute;
  background-color: #2E2C2C;
  color: white !important;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: none; }

.main {
  margin: 0 auto;
  width: 100%;
  margin-top: 50px; }

.mob-menu ul {
  text-align: center;
  margin: 0 auto;
  padding: 0px; }

.mob-menu ul li h5 {
  color: white !important; }

.mob-menu ul li {
  list-style: none; }

h2 {
  font-weight: lighter; }

.ham .block {
  background: black;
  height: 3px;
  width: 30px;
  border-radius: 3px;
  margin: 5px; }

.logo {
  height: 30px;
  margin-top: 10px;
  margin-left: -40px; }

.icon {
  height: 40px;
  margin: 5px; }

.jumbotron {
  background: white; }

.main {
  background: url("../images/home.svg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  height: 600px; }

#contact {
  background: url("./clients/map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#services {
  background: url("./clients/bg.png");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.footer {
  background: #000D5E;
  color: white;
  padding: 15px; }

.copyrights {
  padding: 15px;
  background-color: #2E2C2C;
  color: #a09e9e; }

.prods .card {
  border: 1px solid #A8DDEE; }

.card-img-top {
  background-color: #A8DDEE; }

.myheading {
  padding: 10px; }

.myheading::after {
  content: " ";
  width: 50px;
  border-bottom: 2px solid #1A9FF9;
  display: block;
  margin: 0 auto;
  margin-top: 10px; }

@keyframes home {
  0% {
    transform: translateY(5px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(5px); } }

.jumbo-img {
  animation: home 5s cubic-bezier(1, 1, 1, 1) infinite;
  height: 230px; }

/* Slider */
.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.customer-logos .slide img {
  filter: grayscale(90%); }

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif; }

.card__image {
  max-width: 100%;
  background-color: #A8DDEE; }

#portfolio .card {
  position: relative;
  background: #fff;
  width: 100%;
  height: fit-content;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  #portfolio .card__image-container {
    margin: -2rem -2rem 1rem -2rem; }
  #portfolio .card__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in; }
  #portfolio .card__image {
    opacity: 0; }
  #portfolio .card__title {
    color: #333;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em; }
  #portfolio .card__content {
    margin-top: -1rem;
    opacity: 0; }
  #portfolio .card__svg {
    position: absolute;
    left: 0;
    top: 115px; }

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff; }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF; }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581; } }

@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1; } }

#team .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1; }

.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); }

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); }

.card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1; }

.card:hover .imgBx {
  bottom: 80px; }

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center; }

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase; }

.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #1A9FF9;
  display: block;
  margin-top: 5px; }
